html {
    font-size: 7vmax;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;    
  }

  body {
    margin: 0;
    height: 100vh;
    background-color: #111;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .command {
    color: rgb(160, 160, 255);
  }