body {
  margin: 0;
  height: 100vh;
  background: 
  url(/assets/images/bgbig.png) center no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.command {
  color: rgb(160, 160, 255);
}

.footer {
  position: fixed;
  height: auto;
  bottom: 0;
}